.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2c2c2c;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-img {
  width: 110px;
  height: 90px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.spotify-btn {
  background-color: #1db954;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.spotify-btn:hover {
  background-color: #1ed760;
}
