
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2c2c2c;
}


.navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar__logo-img {
  width: 110px;
  height: 90px;
}

.navbar__logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}


.navbar__links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}


.navbar__link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
}

.navbar__link:hover {
  color: #6ee7b7;
  text-decoration: underline;
}


.navbar__spotify-btn {
  background-color: #1db954;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.navbar__spotify-btn:hover {
  background-color: #1ed760;
}
